# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
# output
out
dist
build
*.tgz

# misc
.DS_Store
*.pem

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# vercel
.vercel

#env
.env

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
package-lock.json
**/*.bun

# Editor and IDE specific
.idea
.vscode
.cursor

/src/generated/prisma
